@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=DynaPuff:wght@400..700&family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Comme:wght@100..900&family=DynaPuff:wght@400..700&family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --main-font: "Quicksand";
  --text-color: rgba(21, 35, 44, 1);
  --secondary-color: rgba(211, 37, 35, 1);

  --bg-color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #7219de;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fe34a0;
  border: none;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  -webkit-box-shadow: 0px 4px 0px 0px #64069d;
  box-shadow: 0px 4px 0px 0px #64069d;
}
.button:hover {
  scale: 120%;
}

.icon {
  width: 36px;
  height: 28.56px;
}

@media (min-width: 1200px) {
  .padding--responsive {
    padding: 88px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}
.header-icon-policy {
  width: 40px;
  height: 40px;
  padding: 7px 9px;
  fill: #f6e9cd;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.policy-terms-list {
  position: static;
  flex: 1;
}

.header {
  height: 100px;
  display: flex;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: end;
  padding: 0;
  color: #f6e9cd;
  padding-top: 8px;
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  color: #fab204;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: #7219de;
  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 40px;
  height: 40px;
  fill: rgba(255, 255, 255, 1);
}

.header__icon-button.is-open + .navigation__list {
  background: rgba(54, 56, 92, 1);
}

.navigation.is-open {
  background: rgba(54, 56, 92, 1);
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 27px 35px 19px;
  position: relative;
  background-color: #7219de;
}
.navigation.is-open {
  background: #7219de;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  gap: 36px;
  padding: 48px;
  top: 130px;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 443px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background: #ffdf9b;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 4px 16px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;

  color: #121010;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  color: #5400d5;
}

.header.is-open {
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .header {
    background: #7219de;

    padding: 8px 24px 8px 24px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header-policy-terms {
    background-color: transparent;
  }
  .header {
    height: 100px;
    display: flex;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-block: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
  .navigation__list {
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    position: static;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    padding-block: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 50px;
    height: 100px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    color: #ff9d00;
  }
  .navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 200px;
    padding: 0%;
    height: 14px;
    color: #ffffff;
  }
}

.main {
  background: #7219de;
}
.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 747px;
  margin: auto;

  background-image: url("/image/hero/Home.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home__container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-top: 600px;
}

.home__google-button_link {
  display: inline-block;
  max-width: 312px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 12px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  width: 264px;
  height: 66px;
  margin-top: -100px;
  width: 200px;
}
.home__google-button_image {
  width: 200px;
}
.home-image {
  display: none;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: 1440px;
    height: 980px;
    gap: 0px;
    opacity: 0px;
    background-image: url("/image/hero/Home\ \(2\)\ \(1\).png");
  }

  .home__google-button_link {
    width: 300px;
    height: 86px;
    margin: auto;
    margin-top: 80px;
    margin-left: 60px;
  }
}

.advantages {
  background: #7219de;
}

.advantages-image {
  width: 375px;
  margin: 0 auto 0;
}
.advantages-image-desk {
  display: none;
}

@media screen and (min-width: 1200px) {
  .advantages {
    background: #7219de;
  }

  .advantages-image {
    display: none;
  }
  .advantages-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}

.features {
  background: linear-gradient(180deg, #fff6e0 0%, #fdeec6 100%);
}
.features-image {
  width: 375px;
  margin: 0 auto 0;
}
.features-image-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features {
    background: linear-gradient(180deg, #fff6e0 0%, #fdeec6 100%);
  }
  .features-image {
    display: none;
  }
  .features-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}
.play {
  background: #7219de;
}
.play-image {
  width: 375px;
  margin: 0 auto 0;
}
.play-image-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .play {
    background: #7219de;
  }
  .play-image {
    display: none;
  }
  .play-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}

.faq {
  padding: 56px 15px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/faq/FAQ\ \(1\).png");
}
.faq-container {
  width: 343px;
  padding: 8px;
  border-radius: 16px;
  margin: auto;
}
.faq-title {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.faq-list {
  padding: 8px 8px 16px 8px;
  gap: 10px;
  border-radius: 8px;
}
.faq-item {
  padding: 16px;
  background: #fff3eb;

  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  max-width: 700px;
  font-family: Arial, sans-serif;

  border: 2px solid #030302;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #37058c;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #030302;
}
@media screen and (min-width: 1200px) {
  .faq {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    background-image: url("/image/faq/FAQ\ \(2\).png");
  }
  .faq-container {
    width: 966px;

    padding: 48px;

    margin: auto;
  }

  .faq-item {
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;

    gap: 16px;
    border-radius: 24px;
    width: 822px;
    padding-bottom: 16px;
    margin: 16px auto;
  }
}
.gallery-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 26px;
  margin-top: 26px;
}
.slick-active .gallery__image {
  width: 343px;
  height: 604px;
}
.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 64px;
  height: 64px;
}

.gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 60px;
  margin: auto;
  background-image: url("/image/gallery/Gallery\ \(2\).png");
}

.gallery-title-photo {
  text-align: center;
  margin: auto;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}
.gallery__item {
  background: transparent;
  width: 343px;
  height: 604px;
  margin: 20px;
}
.gallery-avatar {
  width: 343px;
  height: 604px;
}
.slick-next:before {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/gallery//Gallery\ \(3\).png");

    width: 1440px;
  }
}
.footer {
  background: #7219de;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 66px 37.5px 74px;
  gap: 32px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #ffffff;

  text-align: center;

  row-gap: 8px;
}
.footer-texts {
  padding: 0 8px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}
.footer-copyright {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 80px 37.5px 40px;
    gap: 32px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-copyright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-right: 171px;
    width: 362px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}

.policy {
  background-color: #ffffff;
}
.policy-terms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: start;
  padding: 107px 16px 76px;
}

.policy-terms-title {
  font-family: Comme;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.policy-terms-text-top-one {
  font-family: Comme;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.policy-terms-text-top-two {
  font-family: Comme;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.policy-terms-text {
  font-family: Comme;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-top: 20px;
}

.policy-terms-text-one {
  font-family: Comme;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.terms-list {
  list-style-type: disc;
  font-family: Comme;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  padding-left: 35px;
}
.terms-list-bold {
  font-family: Comme;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.email-link {
  color: inherit;
}
.back {
  background-color: #a8e0ff;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 182px;
    align-items: start;
  }
}
